#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_EiniaOraCoind += debian/examples/*
DEB_INSTALL_MANPAGES_EiniaOraCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix EiniaOraCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f EiniaOraCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake EiniaOraCoin-qt.pro USE_QRCODE=1 USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/EiniaOraCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/EiniaOraCoind
binary-post-install/EiniaOraCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/EiniaOraCoin-qt
